@model Payroll_EmployeeManagementSystem.Models.DepartmentModel

@{
    ViewBag.Title = "AddDepartment";
}
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>AddDepartment</h2>
@using (Html.BeginForm("AddDepartment", "Main", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>
                @Html.Label("DepartmentName")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.DepartmentName)
                @Html.ValidationMessageFor(Model => Model.DepartmentName,"",new { @class = "ValidateMessageColor" })
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Add"/>
            </td>
            <td>
                @Html.ActionLink("Dispaly","DisplayDepartment")
            </td>
        </tr>
    </table>
}
