@model Payroll_EmployeeManagementSystem.Models.AccountModel

@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/Master_LayoutPage.cshtml";
}

<h2>Account</h2>
@using (Html.BeginForm("Account", "Main"))
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(Model=>Model.EmailId)
            </td>
            <td>
                @Html.TextBoxFor(Model=>Model.EmailId)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.Password)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Password)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.Role)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Role)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="AddEmployeeId" />
            </td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Next", "AddEmployee")</td>
        </tr>
       
    </table>
}
