<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Models/Content/Site.css"/>
</head>
<body class="background">
    <div >
        @Html.ActionLink("Home", "Index", "Home")
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {          
        @Html.ActionLink("Logout", "LogOff", "Login")
        }
        else
        {
        @Html.ActionLink("Login","Login","Login")
        }
        @if (HttpContext.Current.User.IsInRole("Admin"))
        {
            @Html.ActionLink("ViewDepartment", "DisplayDepartment", "Main")
            @Html.ActionLink("ViewDesignation", "AddDesignation", "Main")
            @Html.ActionLink("AddEmployeeData", "AddEmployee", "Main")
        }
        @if (HttpContext.Current.User.IsInRole("Account Manager"))
        {
            @Html.ActionLink("ViewSalary","DisplaySalaryData","Main")
            @Html.ActionLink("EmployeeData", "Display", "Main")
        }
        @if (HttpContext.Current.User.IsInRole("User"))
        {
            @Html.ActionLink("Display","Display","Main")
        }
        @RenderBody()
    </div>
</body>
</html>
