@model CircularManagementSystem.Models.EmployeeModel

@{
    ViewBag.Title = "AddEmployee";
}

<h2>AddEmployee</h2>

@using(Html.BeginForm("AddEmployee","Index",FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(model=>model.EmployeeName)
            </td>
            <td>
                @Html.TextBoxFor(model=>model.EmployeeName)
                @Html.ValidationMessageFor(model=>model.EmployeeName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model=>model.EmployeePhoneNumber)
            </td>
            <td>
                @Html.TextBoxFor(model=>model.EmployeePhoneNumber)
                @Html.ValidationMessageFor(model=>model.EmployeePhoneNumber)
            </td>
        </tr>
        <tr>
            <td>
            @Html.LabelFor(model=>model.EmployeeGender)
            </td>
            <td>
                @Html.RadioButtonFor(model=>model.EmployeeGender,"Male")
                @Html.RadioButtonFor(Model=>Model.EmployeeGender,"Female")
                @Html.ValidationMessageFor(model=>model.EmployeeGender)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model=>model.EmployeeEmail)
            </td>
            <td>
                @Html.TextBoxFor(model=>model.EmployeeEmail)
                @Html.ValidationMessageFor(model=>model.EmployeeEmail)
            </td>
            <td>
                @Html.LabelFor(model=>model.DepartmentName)
            </td>
            <td>
                @Html.DropDownListFor(model=>model.DepartmentName,(List<SelectListItem>)ViewBag.Department)
                @Html.ValidationMessageFor(model=>model.DepartmentName)
            </td>
        </tr>
        @*<tr>
            <td>
                @Html.LabelFor(model=>model.EmployeeDesignation)
            </td>
            <td>
               @Html.DropDownListFor(model=>model.EmployeeDesignation,(IEnumerable<SelectListItem>)ViewBag.Designation)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model=>model.Manager_Id)
            </td>
            <td>
                @Html.DropDownListFor(model=>model.Manager_Id,(IEnumerable<SelectListItem>)ViewBag.Manager)
            </td>
        </tr>*@
        <tr>
            <td>
            <input type="submit" />
                </td>
        </tr>
    </table>
}